<%= simple_form_for(@widget) do |f| %>
  <% if @widget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@widget.errors.count, "error") %> prohibited this widget from being saved:</h2>
      <ul>
      <% @widget.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form_block">
    <%= f.input :name %>
    <%= f.input :title %>
    <%= f.input :root_uri %>
    <%= f.input :data_type %>
    <%= f.input :chart_type, collection: BaseTable.chart_types.keys, prompt: 'Please select' %>
  </div>
  
   <div class="form_block"> 
    <%= f.input :before_parameter %>
    <%= f.input :after_parameter %>
    <%= f.input :date_modifier %>
    <%= f.input :description, input_html: { rows: 3 } %>
   </div>
  
  <div class="form_block">  
    <%= f.input :y_field %>
    <%= f.input :y_times %>
    <%= f.input :y_points %>
    <%= f.input :y_label %>
  </div>

  <div class="form_block">
    <%= f.input :x_field %>
    <%= f.input :x_times %>
    <%= f.input :x_points %>
    <%= f.input :x_label %>
  </div>

  <div class="actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
