<%= form_for(@widget) do |f| %>
  <% if @widget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@widget.errors.count, "error") %> prohibited this widget from being saved:</h2>

      <ul>
      <% @widget.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% {
    name: :text,
    title: :text,
    root_uri: :text, 
    data_type: :text,
    chart_type: :text,
    y_field: :text,
    y_times: :boolean,
    y_points: :text,
    y_label: :text, 
    x_field: :text,
    x_times: :boolean,
    x_points: :text,
    x_label: :text,
    before_parameter: :text,
    after_parameter: :text,
    date_modifier: :text
  }.each do |field, input_type| %>
  <div class="field">
    <%= f.label field %><br />
    <%= (input_type == :text) ? f.text_field(field) : f.check_box(field) %>
  </div>
  <% end %>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
