<%= simple_form_for(@dashboard) do |f| %>
  <%= f.error_notification %>

  <%= f.input :name %>
  <%= f.input :title %>
  <%= f.input :description, input_html: { rows: 3 } %>

  <%= f.association :widgets, as: :check_boxes %>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
