<h1>Dashboards</h1>
<p><%= link_to 'New Dashboard', new_dashboard_path, class: 'btn btn-primary' %></p>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Description</th>
    <th></th>
  </tr>

<% @dashboards.each do |dashboard| %>
  <tr>
    <td><%= dashboard.name %></td>
    <td><%= dashboard.title %></td>
    <td><%= dashboard.description %></td>
    <td>
      <%= link_to 'Show', dashboard, class: 'btn btn-info' %>
      <%= link_to 'Edit', edit_dashboard_path(dashboard), class: 'btn btn-warning' %>
      <%= link_to 'Destroy', dashboard, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    </td>
  </tr>
<% end %>
</table>
