<h1>Dashboards</h1>
<%= content_tag(
      'p', link_to('New Dashboard', new_dashboard_path)
    ) if Dashboard.new.indulge?(current_user, :create) %>

<table>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Description</th>
    <th></th>
  </tr>

<% @dashboards.each do |dashboard| %>
  <tr>
    <td><%= dashboard.name %></td>
    <td><%= dashboard.title %></td>
    <td><%= dashboard.description %></td>
    <td>
      <%= link_to 'Show', dashboard %>
      <%= link_to(
            'Edit', edit_dashboard_path(dashboard)
          ) if dashboard.indulge?(current_user, :update) %>
      <%= link_to(
            'Destroy', 
            dashboard, 
            method: :delete, 
            data: { confirm: 'Are you sure?' }
          ) if dashboard.indulge?(current_user, :delete)
      %>
    </td>
  </tr>
<% end %>
</table>
