<h1><%= @dashboard.title %></h2>


<div>
  <%= @dashboard.description %>
</div>

<div class="widgets">
  <h2>Widgets:</h2>
  <% @dashboard.widgets.each do |widget| %>
    <div class="widget">
      <%= link_to widget_chart(widget), widget_path(widget) %>
    </div>
  <% end %>
</div>

<%= link_to 'Edit', edit_dashboard_path(@dashboard) %> |
<%= link_to 'Back', dashboards_path %>
